body {
  font-family: "poppins", sans-serif;
  max-width: 1440px;
  min-width: 100%;
  background-color: #161a1d;
  scroll-behavior: smooth;
}
#container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "more more more more"
    "movies movies movies movies"
    "topRated topRated topRated topRated"
    "movies10s movies10 movies10 movies10";
}

/* Cabeçalho */

#cabecalho {
  grid-area: header;
  box-shadow: 3px 3px 40px rgb(0, 0, 0, 60%);
  overflow: hidden;
  grid-template-columns: repeat(4, 1fr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px;
  background-color: #0b090a;
}

#cabecalho #logo img {
  width: 100px;
  transition: 1s;
}
#cabecalho #logo:hover img {
  transform: scale(1.2);
}

#cabecalho #botoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

#cabecalho #botoes button{
  color: #e50914;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.5s;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
}

#cabecalho #botoes button:hover {
  color: white;
  background-color: #e50914;

}

/* Mais Assistidos */

#more {
  grid-area: more;
  text-align: center;
  color: #f5f3f4;
  font-size: 3rem;
  padding: 20px;
  margin-bottom: 30px;
}

#mais-assistidos {
  grid-area: movies;
  grid-template-rows: repeat(4, 1fr);
  display: flex;
  align-items: center;
  flex-direction: column;
}

#mais-assistidos #movies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

#mais-assistidos #movies #movie {
  display: flex;
  background-color: #0b090a;
  transition: 0.4s;
}
#movie #movie-card {
  width: 400px;
}
#movie #movie-card img {
  width: 100%;
}

#movie #movie-card hr {
  border: 3px solid #e50914;
  width: 100%;
}

#movie #movie-card h3 {
  color: #f5f3f4;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background-color: #660708;
}

#movie #sinopse {
  display: none;
  position: absolute;
  top: 150px;
  width: 100%;
  height: 50%;
  padding: 20px;
  background-color: #0b090a;
  transition: 0.5s ease;
}

#movie #sinopse h5 {
  font-size: 1.3rem;
  color: #e50914;
}

#movie #sinopse p {
  color: #f5f3f4;
  font-size: 0.7rem;
}

#movie #sinopse span {
  font-size: 1.1rem;
  color: #f5f3f4;
}
#movie #sinopse span b {
  color: #e50914;
}

#movie:hover {
  transform: scale(1.05);
}
/* Filmes Top 10 */

#topRated {
  grid-area: topRated;
  text-align: center;
  color: #f5f3f4;
  font-size: 3rem;
  padding: 20px;
  margin: 30px;
}

#top-10 {
  grid-area: movies10;
  grid-template-rows: repeat(4, 1fr);
  display: flex;
  align-items: center;
  flex-direction: column;
}

#top-10 #movies-10 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

#movietop {
  transition: 0.5s;
}
#movietop:hover {
  transform: scale(1.05);
}

#movietop #movie-top-card {
  width: 400px;
}
#movietop #movie-top-card img {
  width: 100%;
}

#movietop #movie-top-card hr {
  border: 3px solid #e50914;
  width: 100%;
}

#movietop #movie-top-card h3 {
  color: #f5f3f4;
  text-align: center;
  font-size: 1rem;
  background-color: #660708;
}

#movietop #sinopse-top {
  display: none;
  position: absolute;
  top: 150px;
  width: 100%;
  height: 60%;
  padding: 20px;
  background-color: #0b090a;
  transition: 0.5s ease;
}

#movietop #sinopse-top h5 {
  font-size: 1.3rem;
  color: #e50914;
}

#movietop #sinopse-top p {
  color: #f5f3f4;
  font-size: 0.7rem;
}

#movietop #sinopse-top span {
  font-size: 1.1rem;
  color: #f5f3f4;
}
#movietop #sinopse-top span b {
  color: #e50914;
}

#final {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 30px;
  background-color: hsl(330, 10%, 4%, 80%);
  gap: 30px;
}
#final article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#final a {
  color: #f5f3f4;
  padding: 10px;
  border-radius: 20px;
  transition: 1s;
}

#final a:hover {
  color: #f5f3f4;
  background-color: #e50914;
}

#final img {
  width: 200px;
}
#final p {
  color: #f5f3f4;
  font-size: 0.7rem;
}
